<nav id="about-me">
  <h1>About Me</h1>
  <ul>
    <li>
      I am a System Engineer for PierCon Solutions.
      My background is in Electrical Engineering, with a focus on Control Systems;
      I’ve also done some computer programming.
    </li>
<!--
    <li>
      My résumé is available upon request.
    </li>
-->
    <li>
      For professional contacts &amp; networking, see my profile on
      <a href="http://linkedin.com/in/joelcsalomon">LinkedIn</a>.
    </li>
    <li>
      I occasionally post to
      <a href="https://profiles.google.com/joelcsalomon">Google+</a>
      as well.
    </li>
  </ul>
</nav>
